.boton{
    display:inline-block;
    width: calc((100%/3) - 25px);
    background-color: darkkhaki;
    border-style: outset;
    border-radius: 10px;
    text-align: center;
    color:black;
    padding: 10px 0px
}

body{margin: 20px;}
a:hover{color: rgb(248, 0, 0);background-color:bisque;}
#principal{font-size: 50px;}
header{text-align: left;}
footer{ 
    margin-left: 0cm;
    margin-right: 0cm;
    text-align: center;
}
#tamano{font-size: 30px;}